@import "../../sass/variables";

footer {
  .social__links {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      margin-right: 15px;
      width: 30px;
      height: 30px;
      background-color: $transparent-white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li:last-child {
      margin: 0;
    }

    a {
      display: block;
      background-size: cover;
    }

    .link__facebook {
      width: 9px;
      height: 15px;
      background-image: url("../../images/icons/social/facebook.svg");
    }
    .link__twitter {
      width: 18px;
      height: 15px;
      background-image: url("../../images/icons/social/twitter.svg");
    }
    .link__youtube {
      width: 18px;
      height: 13px;
      background-image: url("../../images/icons/social/youtube.svg");
    }
    .link__reddit {
      width: 17px;
      height: 15px;
      background-image: url("../../images/icons/social/reddit.svg");
    }
  }
}
