@import "../../sass/mixins";
@import "../../sass/variables";
@import "../../sass/media-query";

.sale-list {
  @include font-default;
  @include media-query("lg") {
    margin: 0 0 0 63px;
  }
  @include media-query("md") {
    & .layout-container:nth-child(2) {
      display: none;
    }
    max-width: none;
    margin: 0;
  }

  width: 100%;
  max-width: 714px;
  margin: 0 64.75px 0 62px;

  h2 {
    @include font-title;
    @include media-query("md") {
      display: none;
    }
  }

  .list-header {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 14px 0 63px;

    font-weight: 400;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid $transparent-white;
  }

  .list-items {
    .layout-container {
      @include media-query("md") {
        background-color: $transparent-white !important;
        max-width: 706px;
        margin: 0 auto;
      }
    }
    .layout-container:nth-of-type(2n + 1) {
      background-color: $transparent-white;
    }
    .layout-container:nth-child(2n) {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}

.list-header span:nth-of-type(1),
.list-items span:nth-of-type(1) {
  @include media-query("lg") {
    width: 11%;
  }

  width: 9.3%;
}

.list-header span:nth-of-type(2),
.list-items span:nth-of-type(2) {
  @include media-query("lg") {
    width: 15.5%;

    text-align: left;
  }

  width: 14%;
}

.list-items span:nth-of-type(2) {
  padding-left: 20px;
}

.list-header span:nth-of-type(3),
.list-items span:nth-of-type(3) {
  @include media-query("lg") {
    display: none;
  }

  width: 7%;
}

.list-header span:nth-of-type(4),
.list-items span:nth-of-type(4) {
  @include media-query("lg") {
    width: 20%;
  }
  @include media-query("md") {
    width: 100%;
  }

  width: 11.8%;
}

.list-header span:nth-of-type(4) {
  @include media-query("lg") {
    padding-left: 25px;

    text-align: left;
  }

  text-align: center;
}

.list-header span:nth-of-type(5),
.list-items span:nth-of-type(5) {
  @include media-query("lg") {
    display: none;
  }

  width: 15%;

  text-align: center;
}

.list-header span:nth-of-type(5) {
  padding-left: 10px;
}

.list-header span:nth-of-type(6),
.list-items span:nth-of-type(6) {
  @include media-query("lg") {
    width: 14.3%;
  }

  width: 11.8%;
}

.list-header span:nth-of-type(7),
.list-items span:nth-of-type(7) {
  @include media-query("lg") {
    width: 18.5%;
  }

  width: 15.5%;
}

.list-header span:nth-of-type(8),
.list-items span:nth-of-type(8) {
  @include media-query("lg") {
    width: 21%;
  }
  @include media-query("md") {
    width: 100%;
  }

  width: 15.6%;
}

.list-header span:nth-of-type(8) {
  @include media-query("lg") {
    padding-left: 40px;

    text-align: left;
  }

  text-align: center;
}
