@import "../../sass/mixins";
@import "../../sass/variables";

.sale-list {
  @include font-default;

  width: 715px;

  h2 {
    @include font-title;
  }

  .list-header {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 14px 0 64px;

    font-weight: 400;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid $transparent-white;
  }

  .list-items {
    div {
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      margin-top: 15px;
      padding: 3px 14px 0 64px;

      color: $gray;
      span:last-child {
        font-weight: 400;
        color: $white;
      }

      &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 16px;

        width: 14px;
        height: 13px;

        background-image: url("../../images/icons/star.svg");
        background-size: cover;
      }

      &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 45px;

        width: 6px;
        height: 13px;

        background-image: url("../../images/icons/green-arrow.svg");
        background-size: cover;
      }
    }
    div:nth-child(2n + 1) {
      background-color: $transparent-white;
    }
    div:nth-child(2n) {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}

.q1 {
  width: 58px;
}

.q2 {
  width: 89px;
}

.q3 {
  width: 66px;
}

.q4 {
  width: 78px;
}

.q5 {
  width: 72px;
}

.q6 {
  width: 74px;
}

.q7 {
  width: 134px;
}
