@import "../../sass/variables";
@import "../../sass/media-query";

.layout-container {
  margin-bottom: 15px;
  position: relative;
  .layout {
    width: 2px;
    height: 2px;
    background-color: $white;
    position: absolute;
  }

  .left-top-layout {
    top: 0;
    left: 0;
  }
  .right-top-layout {
    right: 0;
    top: 0;
  }
  .left-bottom-layout {
    left: 0;
    bottom: 0;
  }
  .right-bottom-layout {
    right: 0;
    bottom: 0;
  }
}
