@import "./media-query";

@mixin adaptive-font($pxSize, $minSize, $maxWidth) {
  $addSize: $pxSize - $minSize;

  font-size: calc(#{$minSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
}

@mixin font-title {
  @include media-query("md") {
    @include adaptive-font(24, 18, $md);
  }
  @include media-query("sm") {
    @include adaptive-font(24, 18, $sm);
  }
  @include media-query("xs") {
    @include adaptive-font(24, 18, $xs);
  }

  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  font-family: "Exo", sans-serif;
}

@mixin font-default {
  @include media-query("md") {
    @include adaptive-font(12, 5, $md);
  }
  @include media-query("sm") {
    @include adaptive-font(12, 5, $sm);
  }
  @include media-query("xs") {
    @include adaptive-font(12, 5, $xs);
  }
  font-size: 12px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: $white;
}
