@import "./sass/variables";
@import "./sass/media-query";

body {
  margin: 0 auto;

  font-family: "Open Sans", sans-serif;
  color: $white;

  background-color: $main-background-color;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}

p {
  margin: 0 0 10px;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  @include media-query("lg") {
    padding: 0 30px;
  }

  @include media-query("md") {
    max-width: 1024px;
    padding: 0 30px 0 30px;
  }
  @include media-query("sm") {
    max-width: 768px;
    padding: 0 12px 0 19px;
  }
  @include media-query("xs") {
    max-width: 425px;
    padding: 0 14px;
  }

  max-width: 1440px;
  margin: 0 auto;
  padding: 0 28px;
}
